<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-10-14T15:29:39Z</date>
	<key>WorkspacePath</key>
	<string>/Users/josheverett/Downloads/waltid-identity/waltid-libraries/crypto/waltid-target-ios/implementation/waltid.crypto.ios.utils.xcworkspace</string>
</dict>
</plist>
